name: Compound Java build and Docker/Sonatype publish


on:
  workflow_call:
    inputs:
      docker-username:
        required: false
        type: string
      build-target:
        required: true
        type: string
        description: 'Use values Docker or Sonatype or both'
      runsOn:
        required: false
        type: string
        default: 'ubuntu-latest'
      gradleVersion:
        required: false
        type: string
        default: '7'
      javaVersion:
        required: false
        type: string
        default: '11'
      javaVendor:
        required: false
        type: string
        default: 'zulu'
      devRelease:
        required: false
        type: boolean
        default: false
# Vulnerability scanning
      scanner-enabled:
        required: false
        type: boolean
        default: true
        description: 'Whether vulnerabilities and license scanning are enabled'
      strict-scanner:
        required: false
        type: boolean
        default: true
        description: 'Whether vulnerabilities and license scanning executions are strict'
      trivy-target:
        required: false
        type: string
        default: 'os,library'
        description: 'What Trivy will scan: image, library or both'
      trivy-sensitivity:
        required: false
        type: string
        default: 'CRITICAL,HIGH,MEDIUM'
        description: 'Adjusting the Trivy Scanner Sensitivity'
      multiproject:
        required: false
        type: boolean
        default: false
        description: 'false for dependencyCheckAnalyze, true for dependencyCheckAggregate'
      createTag:
        required: false
        type: boolean
        default: false
        description: 'Whether creating and publishing git tag'
      integration-test-enabled:
        required: false
        type: boolean
        default: false
        description: 'Whether integration test is enabled'
      integration-test-projects:
        required: false
        type: string
        default: "['.']"
        description: 'list of projects for running integration tests'
      integration-test-task:
        required: false
        type: string
        default: 'integrationTest'
        description: "Gradle task name to run integration test"

    outputs:
      version:
        description: "Generated version of the image"
        value: ${{ jobs.prebuild-job.outputs.version }}
    secrets:
      docker-password:
        required: false
      sonatypeUsername:
        required: false
      sonatypePassword:
        required: false
      sonatypeSigningKey:
        required: false
      sonatypeSigningPassword:
        required: false
      nvd-api-key:
        required: false
        description: 'API key to access NVD database'

jobs:
  prebuild-job:
    name: Prebuild Job
    uses: th2-net/.github/.github/workflows/compound-prebuild-java-workflow.yml@main
    with:
      runsOn: ${{ inputs.runsOn }}
      devRelease: ${{ inputs.devRelease }}

  java-check:
    name: 'Java check'
    needs: [prebuild-job]
    uses: th2-net/.github/.github/workflows/compound-java-check.yml@integration-tests # FIXME: switch to main branch
    with:
      runs-on: ${{ inputs.runsOn }}
      app-version: ${{ needs.prebuild-job.outputs.version }}
      java-version: ${{ inputs.javaVersion }}
      java-vendor: ${{ inputs.javaVendor }}
      scanner-enabled: ${{ inputs.scanner-enabled }}
      strict-scanner: ${{ inputs.strict-scanner }}
      multi-project: ${{ inputs.multiproject }}
      integration-test-enabled: ${{ inputs.integration-test-enabled }}
      integration-test-projects: ${{ inputs.integration-test-projects }}
      integration-test-task: ${{ inputs.integration-test-task }}
    secrets:
      nvd-api-key: ${{ secrets.nvd-api-key }}

  show-java-check-status:
    name: 'Java check status'
    if: always()
    runs-on: ${{ inputs.runsOn }}
    needs: [java-check]
    steps:
      - run: |
          echo "status: '${{ needs.java-check.outputs.aggregated-status }}'"
          echo "owasp-scan: '${{ needs.java-check.outputs.owasp-scan }}'"
          echo "license-check: '${{ needs.java-check.outputs.license-check }}'"
          echo "integration-test: '${{ needs.java-check.outputs.integration-test }}'"

# if Docker
  docker-push:
    name: Build Docker image and push to ghcr.io
    if: ${{ (contains(inputs.build-target, 'Docker') || contains(inputs.build-target, 'docker')) && !cancelled() && needs.java-check.outputs.aggregated-status == 'true' }}
    needs: [prebuild-job, java-check ]
    uses: th2-net/.github/.github/workflows/compaund-java-docker-push.yml@main
    with:
      docker-username: ${{ inputs.docker-username }}
      runsOn: ${{ inputs.runsOn }}
      version: ${{ needs.prebuild-job.outputs.version }}
      versionNumber: ${{ needs.prebuild-job.outputs.version }}
    secrets:
      docker-password: ${{ secrets.docker-password }}
  trivy-docker-scan:
    name: Scan Docker image for vulnerabilities
    if: inputs.scanner-enabled && !cancelled() && needs.docker-push.result == 'success'
    needs: [docker-push, prebuild-job]
    uses: th2-net/.github/.github/workflows/trivy-scan-github.yml@main
    with:
      image-path: ghcr.io/${{ github.repository }}:${{ needs.prebuild-job.outputs.version }}
      target: ${{ inputs.trivy-target }}
      sensitivity: ${{ inputs.trivy-sensitivity }}


# if Sonatype
  sonatype-push:
    if: ${{ (contains(inputs.build-target, 'Sonatype') || contains(inputs.build-target, 'sonatype')) && !cancelled() && needs.java-check.outputs.aggregated-status == 'true' }}
    name: Build and Push Jar to Sonatype
    needs: [ prebuild-job, java-check ]
    uses: th2-net/.github/.github/workflows/compaund-java-sonatype-push.yml@main
    with:
      runsOn: ${{ inputs.runsOn }}
      closeAndRelease: true
      version: ${{ needs.prebuild-job.outputs.version }}
      javaVersion: ${{ inputs.javaVersion }}
      javaVendor: ${{ inputs.javaVendor }}
    secrets:
      sonatypeUsername: ${{ secrets.sonatypeUsername }}
      sonatypePassword: ${{ secrets.sonatypePassword }}
      sonatypeSigningKey: ${{ secrets.sonatypeSigningKey }}
      sonatypeSigningPassword: ${{ secrets.sonatypeSigningPassword }}

  create-tag:
    if: inputs.createTag && !cancelled() && (needs.docker-push.result == 'success' || needs.sonatype-push.result == 'success')
    name: Create and push tag
    needs: [ prebuild-job, sonatype-push, docker-push ]
    uses: th2-net/.github/.github/workflows/compaund-git-tag-push.yml@main
    with:
      runsOn: ${{ inputs.runsOn }}
      tagName: ${{ needs.prebuild-job.outputs.version }}