name: Compound Java checks

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: 'ubuntu-latest'
      app-version:
        required: false
        type: string
        default: '0.0.0'
      java-version:
        required: false
        type: string
        default: '11'
      java-vendor:
        required: false
        type: string
        default: 'zulu'
      scanner-enabled:
        required: false
        type: boolean
        default: true
        description: 'Whether vulnerabilities and license scanning are enabled'
      strict-scanner:
        required: false
        type: boolean
        default: true
        description: 'Whether vulnerabilities and license scanning executions are strict'
      multi-project:
        required: false
        type: boolean
        default: false
        description: 'false for dependencyCheckAnalyze, true for dependencyCheckAggregate'
      integration-test-enabled:
        required: false
        type: boolean
        default: false
        description: 'Whether integration test is enabled'
      integration-test-projects:
        required: false
        type: string
        default: "['.']"
        description: 'list of projects for running integration tests'
      integration-test-task:
        required: false
        type: string
        default: 'integrationTest'
        description: "Gradle task name to run integration test"
    secrets:
      nvd-api-key:
        required: false
        description: 'API key to access NVD database'
    outputs:
      owasp-scan:
        value: ${{ (inputs.strict-scanner && jobs.owasp-scan.result == 'success' || !inputs.strict-scanner) }}
      license-check:
        value: ${{ (inputs.strict-scanner && jobs.license-check.result == 'success' || !inputs.strict-scanner) }}
      integration-test:
        value: ${{ (inputs.integration-test-enabled && jobs.integration-test.result == 'success' || !inputs.integration-test-enabled) }}
      aggregated-status:
        description: "Aggregated status"
        value: ${{ (inputs.strict-scanner && jobs.owasp-scan.result == 'success' || !inputs.strict-scanner) && (inputs.strict-scanner && jobs.license-check.result == 'success' || !inputs.strict-scanner) && (inputs.integration-test-enabled && jobs.integration-test.result == 'success' || !inputs.integration-test-enabled) }}

jobs:
  owasp-scan:
    name: 'OWASP scan'
    if: inputs.scanner-enabled
    uses: th2-net/.github/.github/workflows/owasp-gradle-scan.yml@integration-tests # FIXME: switch to main branch
    with:
      runsOn: ${{ inputs.runs-on }}
      multiproject: ${{ inputs.multi-project }}
      javaVersion: ${{ inputs.java-version }}
      javaVendor: ${{ inputs.java-vendor }}
    secrets:
        nvd-api-key: ${{ secrets.nvd-api-key }}

  license-check:
    name: 'License check'
    if: inputs.scanner-enabled
    uses: th2-net/.github/.github/workflows/license_check.yml@main
    with:
      runsOn: ${{ inputs.runs-on }}
      version: ${{ inputs.app-version }}

  integration-test:
    name: 'Integration tests'
    if: inputs.integration-test-enabled
    strategy:
      matrix:
       integration-test-project: ${{ fromJson(inputs.integration-test-projects) }}
    uses: th2-net/.github/.github/workflows/java-integration-test.yml@integration-tests # FIXME: switch to main branch
    with:
      runs-on: ${{ inputs.runs-on }}
      java-version: ${{ inputs.java-version }}
      java-vendor: ${{ inputs.java-vendor }}
      project-path: ${{ matrix.integration-test-project }}
      integration-test-task: ${{ inputs.integration-test-task }}