name: Build and publish Docker image to ghcr.io

on:
  workflow_call:
    inputs:
      docker-username:
        required: true
        type: string
      runsOn:
        required: false
        type: string
        default: 'ubuntu-latest'
      version:
        required: true
        type: string
        description: 'Full version of the image, with branch name etc.'
      versionNumber:
        required: true
        type: string
        description: 'Version in format X.Y.Z'
      dockerContext:
        required: false
        type: string
        description: 'Docker context that will be passed to the docker build. The local context is used by default'
        default: '.'
      gradleProjectPath:
        required: false
        type: string
        description: 'Path to the Gradle project'
        default: '.'
      gradleParameters:
        required: false
        type: string
        description: 'List of Gradle parameters in JSON format to execute before building docker image'
        default: '[]'
      javaVersion:
        required: false
        type: string
        default: '21'
      javaVendor:
        required: false
        type: string
        default: 'zulu'
      gradleInfo:
        required: false
        type: boolean
        default: false
      multi-platform:
        required: false
        type: boolean
        default: false
        description: 'Produce multi-platform docker image if true'
    secrets:
      docker-password:
        required: true


jobs:
  docker-push:
    runs-on: ${{ inputs.runsOn }}
    steps:
      - name: Show custom release version
        run: echo ${{ inputs.version }}
      - uses: actions/checkout@v5
        if: inputs.dockerContext != '{{defaultContext}}'
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Setup java ${{ inputs.javaVersion }}
        if: inputs.gradleParameters != '[]'
        uses: actions/setup-java@v5
        with:
          distribution: ${{ inputs.javaVendor }}
          java-version: ${{ inputs.javaVersion }}
      - name: Setup Gradle
        if: inputs.gradleParameters != '[]'
        uses: gradle/actions/setup-gradle@v5
        with:
         gradle-version: wrapper
      - name: Build with Gradle
        if: inputs.gradleParameters != '[]'
        run: ./gradlew -p ${{ inputs.gradleProjectPath }} ${{ inputs.gradleInfo && '--info' || '' }} --warning-mode all ${{ join(fromJSON(inputs.gradleParameters), ' ') }} -Prelease_version ${{ inputs.versionNumber }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        # dependabot does not have required secrets
        if: github.actor != 'dependabot[bot]'
        with:
          registry: ghcr.io
          username: ${{ inputs.docker-username }}
          password: ${{ secrets.docker-password }}
      - name: Get repository name
        run: echo "REPOSITORY_NAME=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_OUTPUT
        id: meta
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ inputs.multi-platform && 'linux/amd64,linux/arm64' || 'linux/amd64' }} 
          context: ${{ inputs.dockerContext }}
          # the images build for dependabot PRs will not be pushed into repository
          push: ${{ github.actor != 'dependabot[bot]' }}
          tags: ghcr.io/${{ github.repository }}:${{ inputs.version }}
          labels: com.exactpro.th2.${{ steps.meta.outputs.REPOSITORY_NAME }}=${{ inputs.versionNumber }}
          provenance: false
          build-args: |
            release_version=${{ inputs.versionNumber }}
