name: Build and publish Gradle project to Sonatype

on:
  workflow_call:
    inputs:
      runsOn:
        required: false
        type: string
        default: 'ubuntu-latest'
      closeAndRelease:
        required: true
        type: boolean
      version:
        required: true
        type: string
      javaVersion:
        required: false
        type: string
        default: '21'
      javaVendor:
        required: false
        type: string
        default: 'zulu'
      projectPath:
        required: false
        type: string
        default: '.'
        description: "path to the Gradle module. Root directory by default"
      gradleInfo:
        required: false
        type: boolean
        default: false
    secrets:
      docker-password:
        required: false
      sonatypeUsername:
        required: false
      sonatypePassword:
        required: false
      sonatypeSigningKey:
        required: false
      sonatypeSigningPassword:
        required: false

jobs:
  sonatype-push:
    runs-on: ${{ inputs.runsOn }}
    steps:
      - uses: actions/checkout@v6
      - name: Show release version
        if: ${{ inputs.closeAndRelease }}
        run: echo ${{ inputs.version }}
      - name: Show dev version
        if: ${{ !inputs.closeAndRelease }}
        run: echo ${{ format('{0}-SNAPSHOT', inputs.version) }}
      - name: Set up JDK ${{ inputs.javaVendor }} ${{ inputs.javaVersion }}
        uses: actions/setup-java@v5
        with:
          distribution: ${{ inputs.javaVendor }}
          java-version: ${{ inputs.javaVersion }}
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper
      - name: Release Build with Gradle
        if: ${{ inputs.closeAndRelease }}
        run: >
          ./gradlew
          -p ${{ inputs.projectPath }}
          ${{ inputs.gradleInfo && '--info' || '' }}
          clean
          build
          -Prelease_version=${{ inputs.version }}
          ${{ github.actor != 'dependabot[bot]' && 'publish closeAndReleaseSonatypeStagingRepository' || '' }}
        env:
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.sonatypeUsername }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.sonatypePassword }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.sonatypeSigningKey }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.sonatypeSigningPassword }}
      - name: Dev Build with Gradle
        if: ${{ !inputs.closeAndRelease }}
        run: >
          ./gradlew
          -p ${{ inputs.projectPath }}
          ${{ inputs.gradleInfo && '--info' || '' }}
          clean
          build
          -Prelease_version=${{ format('{0}-SNAPSHOT', inputs.version) }}
          ${{ github.actor != 'dependabot[bot]' && 'publish' || '' }}
        env:
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.sonatypeUsername }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.sonatypePassword }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.sonatypeSigningKey }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.sonatypeSigningPassword }}
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: github.actor != 'dependabot[bot]' && !cancelled()
        with:
          files: |
            ${{ inputs.projectPath }}/build/test-results/**/*.xml
            ${{ inputs.projectPath }}/build/test-results/**/*.trx
            ${{ inputs.projectPath }}/build/test-results/**/*.json