name: Go osv-scanner scan

on:
  workflow_call:
    inputs:
      go-version:
        required: false
        type: string
        default: 'stable'
        description: 'Go version'

jobs:
  scan-vulnerabilities:
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@v2.3.0"
    with:
      # Only scan the top level go.mod file without recursively scanning directories since
      # this is pipeline is about releasing the go module and binary
      scan-args: |-
        ./