name: JS anchore vulnerabilities scanning

on:
  workflow_call:


jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Scan current project
        uses: anchore/scan-action@v4
        with:
          path: "."
          output-format: table
          fail-build: true
          severity-cutoff: medium