name: MyPy checks


on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        default: '3.11'
        description: 'Python version'
      runsOn:
        required: false
        type: string
        default: 'ubuntu-latest'

jobs:
  style-check:
    name: "MyPy style check (Python:${{ inputs.python-version }})"
    runs-on: ${{ inputs.runsOn }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup python ${{ inputs.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.python-version }}

    - name: Install MyPy
      run: pip install mypy

    - name: Show dependencies
      run: pip list

    - name: Run MyPy
      run: mypy .
        
