name: Trivy scan gradle.lockfile for vulnerable dependencies and publish results to secutity tab

on:
  workflow_call:
    inputs:
      sensitivity:
        required: false
        type: string
        default: 'CRITICAL,HIGH,MEDIUM'
        description: 'Adjusting the Scanner Sensitivity'
      exitCode:
        required: false
        type: string
        default: '0'
        description: 'Exit code when specified vulnerabilities are found (1 for fail, 0 for ignore)'
      ignoreUnfixed:
        required: false
        type: boolean
        default: false
        description: 'Ignore vulnerabilities that are impossible to fix at the moment'
      gradleVersion:
        required: false
        type: string
        default: '7'


jobs:
  trivy-scan-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
         gradle-version: wrapper
      - name: Generate lockfile
        run: ./gradlew dependencies --write-locks --info
      - name: Show gradle version
        run: echo ${{ inputs.gradleVersion }}
      - name: Move lockfile if Gradle version less than 7
        if: inputs.gradleVersion == '6' || inputs.gradleVersion == '5' || inputs.gradleVersion == '4' || inputs.gradleVersion == '3'
        run: mv gradle/dependency-locks/compileClasspath.lockfile gradle.lockfile
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: ${{ inputs.ignoreUnfixed }}
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: ${{ inputs.sensitivity }}
          exit-code: ${{ inputs.exitCode }}
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results.sarif'