name: Trivy scan for vulnerable dependencies and publish results to secutity tab

on:
  workflow_call:
    inputs:
      image-path:
        required: true
        type: string
      vuln-type:
        required: false
        type: string
        default: 'os,library'
        description: 'What Trivy will scan: image, library or both'

jobs:
  trivy-scan-job:
    runs-on: ubuntu-20.04
    steps:
      - name: Show scanning target
        run: echo ${{ inputs.image-path }}
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ inputs.image-path }}
          format: 'table'
          exit-code: '0'
          ignore-unfixed: false
          vuln-type: ${{ inputs.vuln-type }}